div {
width: 400px;
background-color: #eeeeee;
padding: 40px;
margin:30px 30px ;
}
.element-1 {
    border-left: 10px solid #e91e63;
    outline: 15px solid #eeeeee;
}
.element-2 {
visibility: hidden;
}
.element-3 {
    border-left: 10px solid #009587;
    outline: 15px solid #eeeeee;
}
